@page
@attribute [Authorize]
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

@if (!string.IsNullOrEmpty(Model.StatusMessage))
{
    <div class="alert alert-success" role="alert">@Model.StatusMessage</div>
}

<p>Use this page to detail your site's privacy policy.</p>

<ul class="d-flex flex-column gap-1 mt-1">
    <li><strong>Login Name</strong> : <span
        class="font-monospace small bg-light border rounded px-1">@(Model.User?.Identity?.Name)</span>
    </li>
    <li><strong>Authentication Type</strong> : <span
        class="font-monospace small bg-light border rounded px-1">@(Model.User?.Identity?.AuthenticationType)</span>
    </li>
    <li><strong>Remote IP Address</strong> : <span
        class="font-monospace small bg-light border rounded px-1">@(Model.HttpContext.Connection.RemoteIpAddress)</span>
    </li>
    <li><strong>Host</strong> : <span
        class="font-monospace small bg-light border rounded px-1">@(Model.HttpContext.Request.Host)</span>
    </li>
    <li><strong>Scheme</strong> : <span
        class="font-monospace small bg-light border rounded px-1">@(Model.HttpContext.Request.Scheme)</span>
    </li>
    <li><strong>PathBase</strong> : <span
        class="font-monospace small bg-light border rounded px-1">@(Model.HttpContext.Request.PathBase)</span>
    </li>
    <li><strong>Path</strong> : <span
        class="font-monospace small bg-light border rounded px-1">@(Model.HttpContext.Request.Path)</span>
    </li>
</ul>
<div>
    <form method="post" asp-page-handler="UpdateAccount">
        <button type="submit" class="btn btn-warning">Update this Account</button>
    </form>
</div>
